fieldset {
  border-radius:5px;
  margin-top: 8px;
}

.option {
  background-color: #999;
}

.option .header {
  width:700px;
  margin: 0 auto;
  padding-right: 30px;
  text-align: right;
}

.option .footer {
  width: 100%;
  font-size: 12px;
  color: #333;
}

.option .footer .createby{
  float:right;
  text-align: right;
  color: #522;
}

.option img {
  padding-right: 6px;
}

.option .content {
  width: 700px;
  margin: 0 auto;
  padding: 0;
}
			
.option .tabContentWrapper {
  min-width: 700px;
  text-align: left;
  display: inline-block;
  background-color: #fff;
  box-shadow: 3px 3px 5px #555;
  border-radius: 5px;
}

.option .tabContent {
  min-width: 90%;
  min-height: 200px;
  float: left;
  padding:3px 30px 30px 30px
}

.option .menu {
  padding:0;
  margin:0;
  list-style-type: none;
}

.option .menu li {
  padding: 0;
  list-style: none;
  display:inline-block;
}

.option .menu li a {
  -webkit-transition:background-color .3s;
  line-height: 30px;
  border-radius:5px 5px 0 0;
  padding:10px 8px 8px 8px;
  border: 0 !important;
  background-color: #ccc;
  font-size:100%;
  font-weight: bold;
  color:black !important
}

.option .menu li a:hover, .option .menu li a.active {
  background-color:white;
  text-shadow:none
}

.option #office365_mail_notifier-serverError {
  color: red;
  float:left;
}

.option fieldset {
  background-color: #F6F6F6;
}

.option .actionButtons {
	padding: 10px 0px;
}

.option .hide {
  display: none;
}


.popup {
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
  background-color: #FFFFFF;
}

.popup #office365_mail_notifier_tooltipLogo {
  float: left;
  width: 70px;
  margin: 0px 20px 0px 10px;
}

.popup .tooltipIdentifier {
  padding: 3px;
  position: relative;
}

.popup .tooltipTitle {
  font-weight:bold
}

.popup  fieldset {
  margin:0px 6px;
  width: 280px;
  background-color: #F6F6F6;
}

.popup .actionidentifier {
  position:absolute;
  top:3px;
}

.popup #office365_mail_notifier_tooltipMessage .tooltipMessageAbstract {
  width: 260px;
  word-wrap: break-word;
}

.popup .action > img, .popup #office365_mail_notifier_tooltipMessage .tooltipMessageAbstract {
  cursor: pointer;
  overflow: hidden;
}

.popup .action {
  width: 100%;
  text-align: right;
}

.popup .action img {
  width: 18px;
  height: 18px;
  margin-left: 6px;
}

.popup .section {
  color: #333;
}

.popup legend{
  font-size: 13px;
  font-weight:bold;
}

.popup  .eventLabelDate {
  color: green;
  font-size: 11px;
}

.popup  .eventLabelDesc {
  padding-left:15px;
}
